/*css파일입니다
  css 파일의 주석은 여러분이 잘아신 겁니다.
  // 는 사용 불가이니 유의해주세요*/

p {                    /* p태그에 대한 적용사항이란 뜻입니다.*/
  line-height: 20px;  /* 줄간격입니다.*/
  color:red;          /* 색변경입니다. 정해진 색의 이름을 입력합니다*/
}

body {                /* body가 p보다 포괄적이기에 p태그에는 p가 더 우선됩니다*/
                      /* 즉, body가 p의 부모같은 개념이 되는 겁니다.*/
  margin-left: 40px;  /* 본인 경계가 옆 경계와 떨어진 정도를 정합니다 */
  margin-top: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
  color: rgb(0,100,100);  /*색은 이렇게도 정할 수 있습니다.*/
}
